* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    font-family: "futura";
  }
  
  
  @font-face {
    font-family: futura;
    src: url(../futurafont/font3.ttf);
  
  }
  
  
  
  a {
    color: white;
  }
  
  /* -------------------------------------header---------------------------- */
  .header {
    background-color: #212329;
    color: white;
    height: 35px;
  }
  
  .header .row .abc p {
    font-size: 13px;
    padding: 6px 0 0 0;
  }
  
  .header .row .abc ul {
    padding: 4px 0 0 0;
  }
  
  .header .row .abc ul li select {
    background-color: #212329;
    border: none;
    color: white;
  }
  
  .header .row .abc ul li select {
    font-size: 13px;
  }
  
  .header .row .abc ul li {
    font-size: 13px;
    padding: 0 10px;
  }
  
  .header .row .abc ul li a {
    color: white;
  }
  
  .list-inline-item select:focus {
    outline: none;
  }

  
    /* -------------------------------------------header media quary------------------------------------ */
  
  
    @media screen and (min-width: 320px) and (max-width: 780px) {
      .header{
          height: auto;
          text-align: center;
      }
      .header .row .abc ul{
          float: none !important;
      }
    }
  
  
  
  
  
  /*---------------------------------------- navbar--------------------------------- */
  
  .tect {
    font-size: 13px;
  }
  
  .navbar {
    background-color: white;
  }
  
  .navic {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navic .serach span {
    color: black;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5 !important;
    /* margin: 0 10px; */
    margin-right: -10px;
    border-radius: 50%;
  }
  
  .navic .cart a {
    color: black;
    height: 45px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5;
    margin: 0 20px;
    border-radius: 2rem;
  }
  
  nav div ul li a {
    text-transform: uppercase;
    margin: 0 20px;
  }
  
  nav {
    padding: 0 40px;
  }

  

 .navbar-toggler {
    box-shadow: none !important;
    margin-left: 5px;
    border: 1px solid;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
    margin-left: 5px;
    border: 1px solid red !important;
  }
  
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -250px !important;
    margin-top: 0.125rem;
  }
  .dropdown .but {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    line-height: 0 !important;
    box-shadow: none !important;
  }
  .dropdown .dropdown-item:hover {
    background-color: transparent;
  }
  
  .cart .bu {
    display: flex;
  }
  .cart .bt {
    display: flex;
    justify-content: space-between;
  }
  .cart .bu .btn {
    padding: 15px 30px;
    width: 50%;
    margin: 2px;
    background-color: #212329;
    color: white;
    transition: all 0.5s;
  }
  .cart .bu .btn:hover {
    background-color: #ff4135;
  }
  
  

   /* -------------------------------------------navbar media quary------------------------------------ */
  
  
   @media screen and (min-width: 320px) and (max-width: 780px) {
    .img-fluid{
     width: 100px;
    }
    .navbar{
     /* justify-content:center !important; */
    }
     
 .navic .cart a {
   color: black;
   height: 35px;
   width: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f2f3f5;
   margin-left: 20px;
   border-radius: 2rem;
   font-size: 13px;
 }
 
 .navic .serach span {
   height: 35px;
   font-size: 14px;
   width: 35px;
   border-radius: 50%;
   align-items: center;
 }
 .navic .cart a span {
   font-size: 15px;
   }
   .navic .cart a label {
     display: none;
   }
   nav{
     padding: 0;
   }
   .navbar-brand{
     padding: 5px !important;
   }
   .nav-link{
     text-align: center !important;
   }
      
  .cart .bu .btn {
    padding: 10px 0px !important;
  }
  .dropdown-menu[data-bs-popper] {
  top: 100%;
  /* left: 0px !important; */
  margin-top: 0.125rem;
  right:3% !important;
  padding: 15px !important;
}
.dropdown-menu li{
  padding: 0px;
}
 
 
 }
  
  /* -------------------------go------------------- */
  .go {
    background-color: #F2F3F5;
    height: 80px;
    padding: 0 170px;
    display: flex;
    align-items: center;
  }
  
  .go a {
    color: black;
    font-weight: 300;
    margin-right: 10px;
  }
  
  .go label {
    color: #768188;
    font-weight: 300;
    margin-left: 10px;
  }
  
  /* -------------------------------------------go media quary------------------------------------ */
  
  
  @media screen and (min-width: 320px) and (max-width: 780px) {
    .go {
      padding: 30px;
    }
  }


  /* ------------------------------------------sectons1 ----------------------------------- */
  /* frist */
  .section1 .container{
    padding: 100px 110px;
    height: auto !important;
    
  }
  .nav{
    justify-content: center;
  }
  .nav-pills .nav-link {
    width: 220px;
    height: 95px;
    border-radius:0px !important ;
    border-bottom: #ff4135 3px solid !important;
    color: black !important;

  }
  .nav-pills .active{
    background-color: #ff4135 !important;
    border-radius:0px !important ;
    color: white !important;
    border-bottom: #ff4135 3px solid !important;
  }
.section1 .row .abc form input{
    width: 100%;
    padding: 14px ;
    border-radius:2rem ;
    border: 1px solid grey;
    transition: all 0.5s;
}
.section1 .row .abc form input:focus{
    border: 1px solid #ff4135;
    outline: none;

}
.section1 .row .abc form .col-lg-6{
    margin: 10px 0 !important;
}                                   
.section1 .row .abc .show  .butto{
    background-color:#F2F3F5 ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 20px 0;

}
.section1 .row .abc .show .button .btn:hover{
    background-color: #ff4335c4 !important;
}

.section1 .row .abc  .col-lg-6 .rodio input{
    margin: 0 8px 40px 0 !important;
}



/* second */
.section1 .second h3 {
    font-size: 28px;
    font-weight: 500;
    color: #343a40;
    margin-top: 50px;
}
.section1 .second .col-lg-6 h5{
    font-size: 20px;
    margin: 15px 0;
    color: #343a40;
}
.section1 .second .col-lg-6 p{
    margin: 5px 0;
    color: #343a40;
}
.section1 .second h3{
    font-size: 28px;
    font-weight: 500;
    color: #343a40;
    margin-top: 50px !important;
}
.section1 .second .w2{
    font-size: 20px;
}
.section1 .second p input{
    margin-right: 10px;
}
.section1 .second span{
    font-size: 12px;
    color: black;
    margin-left: 20px;
}
.section1 .second .img{
    margin: 10px 0 0 10px;
}
.section1 .second .img img{
    margin-left: 10px;
}





.section1 .row .second .button{
    background-color:#F2F3F5 ;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.section1 .row .second .button .float1{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 2rem;

}
.section1 .row .second .button .float{
    background-color: #ff4135;
    /* float:right !important;  */
    /* margin-left:330px ; */
    color: white;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 2rem;

}

/* third */

.section1 .row .third .button{
    background-color:#F2F3F5 ;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0  20px;
    justify-content: space-between;
}
.section1 .row .third .button .float1{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 2rem;

}
.section1 .row .third .button .float{
    background-color: #ff4135;
    float:right !important; 
    color: white;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 2rem;

}

.section1 .row .third h3{
    font-size: 28px;
    font-weight: 500;
    color: #343a40;
    margin-top: 50px;
}
.section1 .row .bos{
  border: 2px solid #E5E5E5;
  height: auto !important;
  padding: 25px;
}
.section1 .row .bos h4{
font-size: 20px;

}







/* -------------------------------------------section1 media quary------------------------------------ */
  
  
@media screen and (min-width: 320px) and (max-width: 780px) {
  .section1 .container{
    padding: 10px;
  }



}



























  .maha {
    background-color: #f8f9fa;
    padding: 50px 80px !important;
    height: 57vh;
  }
  
  .container .row .col-lg-3 {
    display: flex;
    flex-direction: column;
  }
  
  .container .row .col-lg-3 a {
    color: #41454f;
    font-weight: 500;
    padding: 5px 0;
    transition: all 0.6s;
  }
  
  .container .row .col-lg-3 a:hover {
    text-decoration: underline;
  }
  
  .container .row .col-lg-3 h5 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #40444f;
    font-weight: 500;
    /* color: #212329; */
  }
  
  .container .row .col-lg-3 .ico a i {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212329;
    margin-right: 8px;
    color: white;
    transition: all 0.5s;
  }
  
  .container .row .col-lg-3 .ico a i:hover {
    background-color: #ff4135;
  }
  
  .container .row .col-lg-3 .ico a {
    text-decoration: none;
  }
  
  .container .row .col-lg-3 .ico {
    display: flex;
  }
  
  /* ------------------------------media quary section5-------------------------- */
  @media screen and (min-width: 320px) and (max-width: 780px) {
    .maha {
      padding: 20px 10px !important;
      height: auto;
      text-align: center;
    }
  
    .container .row .col-lg-3 {
      margin: 10px 0;
    }
  
    .container .row .col-lg-3 .ico {
      justify-content: center;
    }
  
    .section8 .container .row .col-lg-4 {
      margin: 5px 0;
    }
  }
  
  /* ------------------------------------------------------sections8------------------------------------ */
  .section8 {
    background-color: #343a40;
    padding: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section8 .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section8 .container .row .col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section8 .container .row .col-lg-4 p {
    font-size: 17px;
  }
  
  .section8 .container .row .col-lg-4 img {
    margin: 0 4px;
    border-radius: 5px;
  }
  
  .section8 .container .row .img img {
    width: 40px;
  }
  
  
  
  
  
  
  
  
  
  
